PORT=
CONTEXT_TIMEOUT=

# DB CONFIG
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS
DB_NAME=

# JWT AUTH CONFIG
JWT_SECRET=
JWT_TOKEN_EXP=

# BASIC AUTH CONFIG
BASIC_USERNAME=
BASIC_PASSWORD=

# SCHEDULE UPDATE CAMPAIGN AND VOUCHER STATUS
STATUS_UPDATE_TIME=

# UPLOAD IMAGE URL
UPLOAD_IMAGE_URL=

# REWARD TRANSACTION TIMEOUT
REWARD_TRX_TIMEOUT=

# PDS API
PDS_API_HOST=
SEND_SMS_PROMO=

# CS NUMBER
CS_NUMBER_1=
CS_NUMBER_2=